.col-centered {
  float: none;
  margin: 0 auto;
}

.navbar-brand img {
height: 35px;
margin: -5px 10px;

}

.carousel-inner .item img {
  min-height: 500px;
  min-width: 833px;
  width: 100%;
}

.input-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#features {
  background-color: #8ad0c8;
  margin: -60px -135px 0px -135px;
  padding: 60px 135px 20px 135px;
}

#features img {
  border: 3px solid #5E5E5E;
}

#myCarousel {
  margin-bottom: 0px;
}

.marketing {
  margin-top: 60px;
}

#bottom-cta {
  margin-top: 80px;
  margin-bottom: 80px;
}

footer {
  background-color: #293949;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #fff;
}

.btn-notify {
  color: #293949;
  background-color: #e4556a;
  border-color: #e4556a;
}


.text-center .foot{
  margin-bottom: 0px;
}

.carousel-caption {
  bottom: 70px
}

.btn-notify:hover,
.btn-notify:focus,
.btn-notify:active,
.btn-notify.active,
.open .dropdown-toggle.btn-notify {
  color: #293949;
  background-color: #DF233F;
  border-color: #DF233F;